
/* NAVBAR */
    .navbar {
        margin-bottom: 0 !important;
    }

/* HEADER */
    .header-content {
        padding-left: 50px; 
        padding-right: 50px;
    }

    .header-content h1 {
        font-weight: bolder;
        color: rgb(228, 228, 228);
    }

    .header-content h2 {
        color: rgb(228, 228, 228);
    }

    .section-header {
        text-align: center;
        font-weight: bold;
    }

    .header-image {
        background-image: url('index_image.jpg');
        background-position: center center;
        width: 100%;
        height: 90vh;
    }


/* PLAYER BIOS */
    .bio-photo {
        height: 350px;
    }

    .player-selector {
        width: 100%;
    }