.header-content {
    padding-left: 50px; 
    padding-right: 50px;
}

.header-content h1 {
    font-weight: bolder;
    color: rgb(189, 189, 189);
}

.header-content h2 {
    color: rgb(189, 189, 189);
}

.section-header {
    text-align: center;
    font-weight: bold;
}