
/* HEADER */
    .header-content {
        padding-left: 50px; 
        padding-right: 50px;
    }

    .header-content h1 {
        font-weight: bolder;
        color: rgb(211, 211, 211);
    }

    .header-content h2 {
        color: rgb(211, 211, 211);
    }

    .section-header {
        text-align: center;
        font-weight: bold;
    }

    .header-image {
        background-image: url('index_image.jpg');
        background-position: center center;
        width: 100%;
        height: 70vh;
        opacity: 0.95;
    }

    .header-image:hover {
        opacity: 1;
    }


/* PLAYER BIOS */
